// out: ../css/

@media (max-width: 1370px) {
  .banner header {
    a.contact {
      margin-left: auto;
    }

    ul.nav {
      position: absolute;
      right: -200px;
      top: 0px;

      transition: all 0.5s ease;

      display: flex;
      flex-direction: column;
      width: 200px;
      padding: 15px;
      height: 100vh;
      background-color: #1644ba;
      opacity: 0.8;

      > li > a {
        opacity: 1;
      }

      &.active {
        right: 0;

        > li:not(.hamburger) {
          display: block;
        }
        > li.hamburger {
          display: none;
        }
      }

      > li:not(.hamburger) {
        display: none;
      }

      > li.hamburger {
        display: block;
        position: absolute;
        right: 230px;
        top: 25px;
      }
    }
  }

  .job-list {
    width: auto;
  }

  footer .wrapper {
    width: auto;
    justify-content: center;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 14px;
  }

  .wrapper {
    width: 90%;
  }

  .banner .main .wrap-search {
    width: 70%;
    flex-wrap: wrap;

    input[type="text"],
    select[name="City"],
    select[name="Time"],
    a.search {
      width: 45%;
      margin: 5px;
    }
  }
}

@media (max-width: 830px) {
  footer > .wrapper {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    > * {
      width: 40%;
    }

    .contact {
      text-align: left;
    }
  }
}

@media (max-width: 700px) {
  .banner header {
    width: 80%;

    a.contact {
      display: none;
    }
  }

  .banner .main .wrap-search {
    width: 90%;
    input[type="text"],
    select[name="City"],
    select[name="Time"],
    a.search {
      width: 80%;
    }
  }

  .banner .statistics ul.facts {
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      width: 40%;
      margin: 15px;
    }
  }

  .job-list .wrap-jobs .job {
    text-align: left;
    > .place,
    .salary {
      display: none;
    }
    > .info {
      width: auto;
    }
  }

  .signup .wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    > .wrap-text {
      width: auto;
      text-align: center;
      margin-bottom: 2.5rem;
    }
  }

  .reviews .review {
    width: 80%;
  }

  footer > .wrapper {
    > * {
      width: 90%;
      margin: 1rem 0;
    }
  }
}

@media (max-width: 400px) {
  div.pages {
    flex-direction: column;
    justify-content: space-between;

    > ul.pages {
      margin: 1rem 0;
    }
  }
}
