html {
  font-size: 16px;
}
body {
  position: relative;
}
h1,
h2,
h3 {
  font-weight: bold;
}
a {
  transition: all 0.3s ease;
}
.overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 10;
  cursor: pointer;
}
.overlay.active {
  opacity: 0.7;
  visibility: visible;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/hero_1.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.banner header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px 20%;
}
.banner header ul.nav {
  font-size: 1.2rem;
  z-index: 200;
}
.banner header ul.nav * {
  z-index: 200;
}
.banner header ul.nav li {
  display: inline-block;
  margin: 10px;
}
.banner header ul.nav li.close,
.banner header ul.nav li.hamburger {
  display: none;
  font-size: 1.3rem;
}
.banner header ul.nav li a {
  padding: 0 10px;
  opacity: 0.5;
}
.banner header ul.nav li a:hover {
  opacity: 1;
}
.banner header a.contact {
  text-align: center;
  padding: 10px 15px;
  background-color: #1644ba;
  border-radius: 6px;
  font-size: 1rem;
  white-space: nowrap;
}
.banner header a.contact:hover {
  background-color: #3468ebc7;
}
.banner .main {
  height: 90vh;
  padding: 0 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
}
.banner .main span {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0.7;
}
.banner .main .wrap-search {
  width: 80%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.banner .main .wrap-search input[type="text"],
.banner .main .wrap-search select[name="City"],
.banner .main .wrap-search select[name="Time"],
.banner .main .wrap-search a.search {
  flex-grow: 1;
  display: inline-block;
  margin: 0 5px;
  padding: 10px;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
}
.banner .main .wrap-search a.search {
  min-width: 125px;
  padding: 10px 12px;
  background-color: #1644ba;
  border-radius: 4px;
  vertical-align: middle;
}
.banner .main .wrap-search a.search:hover {
  background-color: #3468ebc7;
}
.banner .statistics {
  padding: 40px 20%;
  text-align: center;
  background-color: rgba(22, 68, 186, 0.7);
  font-size: 1.2rem;
}
.banner .statistics p {
  margin-top: 15px;
  margin-bottom: 40px;
  text-transform: none;
}
.banner .statistics ul.facts {
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin: 0 auto;
}
.banner .statistics ul.facts li {
  margin: 15px 0;
  text-align: center;
}
.banner .statistics ul.facts li h3 {
  margin-bottom: 10px;
}
.job-list {
  padding: 40px 20%;
  text-align: center;
  font-size: 1.2rem;
}
.job-list * {
  color: #000;
}
.job-list h2 {
  margin-bottom: 20px;
}
.job-list .wrap-jobs {
  margin: 0 auto;
}
.job-list .wrap-jobs .job {
  padding: 25px 0;
  border-bottom: 1px solid #ddd;
}
.job-list .wrap-jobs .job > * {
  display: inline-block;
  vertical-align: middle;
}
.job-list .wrap-jobs .job .wrap-logo {
  width: 15%;
  text-align: center;
}
.job-list .wrap-jobs .job .wrap-logo img.logo {
  max-width: 80px;
  max-height: 80px;
}
.job-list .wrap-jobs .job .info {
  width: 45%;
  text-align: left;
}
.job-list .wrap-jobs .job .info .job-type {
  padding: 3px 5px;
  border-radius: 5px;
  opacity: 0.8;
  cursor: pointer;
}
.job-list .wrap-jobs .job .info .job-type:hover {
  opacity: 1;
}
.job-list .wrap-jobs .job .info .job-type.freelancer {
  background-color: #1644ba;
  color: #fff;
}
.job-list .wrap-jobs .job .info .job-type.full-time {
  background-color: #fff568;
}
.job-list .wrap-jobs .job .info .job-type.part-time {
  background-color: #28a745;
  color: #fff;
}
.job-list .wrap-jobs .job .info h3 {
  margin: 7px 0;
}
.job-list .wrap-jobs .job .info h3 .job-title {
  font-size: 1rem;
  color: #1644ba;
  cursor: pointer;
}
.job-list .wrap-jobs .job .info h3 .job-title:hover {
  text-decoration: underline;
}
.job-list .wrap-jobs .job .info .publisher span {
  color: #b5b5b5;
}
.job-list .wrap-jobs .job .info .publisher a.name,
.job-list .wrap-jobs .job .info .publisher a.branch {
  font-weight: bold;
}
.job-list .wrap-jobs .job .info .publisher a.name:hover,
.job-list .wrap-jobs .job .info .publisher a.branch:hover {
  color: #1644ba;
}
.job-list .wrap-jobs .job .place {
  width: 15%;
}
.job-list .wrap-jobs .job .place .city {
  margin-bottom: 5px;
  font-size: 1.1rem;
}
.job-list .wrap-jobs .job .place .country {
  color: #b5b5b5;
}
.job-list .wrap-jobs .job .salary {
  width: 20%;
  text-align: right;
}
.job-list div.pages {
  padding: 40px 20%;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.job-list div.pages * {
  display: inline-block;
  margin: 0 5px;
  color: #1644ba;
}
.job-list div.pages a {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 7px;
  transition: all 0.2s ease;
}
.job-list div.pages a:hover {
  background-color: #1644ba;
  color: #fff;
}
.job-list div.pages ul.pages li a {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
}
.job-list div.pages ul.pages li a.current {
  background-color: #1644ba;
  color: #fff;
}
.candidates {
  margin: 0 auto;
  padding: 40px 20%;
  text-align: center;
}
.candidates * {
  color: #000;
}
.candidates p {
  margin: 15px;
  text-transform: none;
}
.candidates .wrap-companies img.logo {
  width: 15%;
  min-width: 110px;
  margin: 0 20px;
  display: inline-block;
  vertical-align: middle;
}
.reviews {
  min-height: 550px;
  padding: 40px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
}
.reviews * {
  color: #000;
  text-transform: none;
}
.reviews .review {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  display: inline-block;
  position: absolute;
  transition: all 0.7s ease;
  transform: translateX(120%);
  opacity: 0;
  visibility: hidden;
}
.reviews .review.active {
  position: relative;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.reviews .review img.photo {
  max-height: 300px;
  border-radius: 100%;
}
.reviews .review blockquote p.text {
  margin: 20px 0;
  color: #777;
  font-size: 1.2rem;
}
.reviews .btns {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
.reviews .btns a.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 10px;
  background-color: #777;
  border-radius: 100%;
}
.reviews .btns a.dot.active {
  background-color: #1644ba;
}
.signup {
  background-color: #1644ba;
  padding: 50px 20%;
  font-size: 0;
}
.signup .wrap-text {
  width: 60%;
  display: inline-block;
  font-size: 1.1rem;
  vertical-align: middle;
}
.signup .wrap-text h2 {
  margin-bottom: 15px;
}
.signup .wrap-btn {
  width: 40%;
  display: inline-block;
  font-size: 1.1rem;
  vertical-align: middle;
  text-align: right;
}
.signup .wrap-btn a.signup-btn {
  box-sizing: border-box;
  padding: 15px 50px;
  border-radius: 5px;
  background-color: #fff568;
  color: #000;
  font-size: 1.2rem;
}
.signup .wrap-btn a.signup-btn:hover {
  background-color: #fff9a1;
}
footer {
  padding: 50px 20%;
  padding-bottom: 20px;
  background-color: #242424;
  font-size: 1.1rem;
}
footer .wrap-blocks {
  display: flex;
  justify-content: space-between;
}
footer .wrap-blocks h4 {
  margin-bottom: 15px;
}
footer .wrap-blocks li {
  margin: 20px 0;
}
footer .wrap-blocks li > a {
  opacity: 0.6;
}
footer .wrap-blocks a.icon-social {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  width: 35px;
  height: 35px;
  background-color: #1644ba;
  border-radius: 100%;
}
footer .wrap-blocks a.icon-social:hover {
  background-color: #fff;
  color: #1644ba;
}
footer .wrap-blocks a:hover {
  opacity: 1;
}
footer .copyright {
  margin-top: 20px;
  text-align: center;
}
footer .copyright .design {
  color: #1644ba;
}
footer .copyright .design:hover {
  color: #7a9bef;
}
footer .copyright .code {
  color: #fff568;
}
footer .copyright .code:hover {
  color: #fff89b;
}
